/* Normalize.css */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}
progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
figure{margin:1em 40px}
img{border-style:none}
svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}
optgroup{font-weight:bold}
button,input{overflow:visible}
button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

/* H.CSS Styles */
*,*:before,*:after{box-sizing:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}
html{overflow-x:hidden;box-sizing:border-box}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}
a{color:inherit}
.h-btn,.h-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.h-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.h-btn,.h-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.h-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.h-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.h-check,.h-radio{width:24px;height:24px;position:relative;top:6px}
.h-container:after,.h-container:before,.h-panel:after,.h-panel:before,.h-row:after,.h-row:before,.h-row-padding:after,.h-success:after,.h-success:before,.h-danger:after,.h-danger:before,.h-info:after,.h-info:before,.h-warning:after,.h-warning:before{content:"";display:table;clear:both}
.h-container,.h-panel,.h-success,.h-warning,.h-info,.h-danger{padding:0.01em 16px}
.h-panel,.h-success,.h-warning,.h-info,.h-danger{margin-top:16px;margin-bottom:16px}
.h-success{color:#fff;background-color:#4caf50}
.h-danger{color:#fff;background-color:#f44336}
.h-warning{color:#000;background-color:#ffeb3b}
.h-info{color:#fff;background-color:#2196f3}
/* BackGround Colors */
.h-amber{color:#000;background-color:#ffc107}
.h-aqua{color:#000;background-color:#00ffff}
.h-blue{color:#fff;background-color:#2196F3}
.h-light-blue{color:#000;background-color:#87CEEB}
.h-brown{color:#fff;background-color:#795548}
.h-cyan{color:#000;background-color:#00bcd4}
.h-blue-grey{color:#fff;background-color:#607d8b}
.h-green{color:#fff;background-color:#4CAF50}
.h-light-green{color:#000;background-color:#8bc34a}
.h-indigo{color:#fff;background-color:#3f51b5}
.h-khaki{color:#000;background-color:#f0e68c}
.h-lime{color:#000;background-color:#cddc39}
.h-orange{color:#000;background-color:#ff9800}
.h-deep-orange{color:#fff;background-color:#ff5722}
.h-pink{color:#fff;background-color:#e91e63}
.h-purple{color:#fff;background-color:#9c27b0}
.h-deep-purple{color:#fff;background-color:#673ab7}
.h-red{color:#fff;background-color:#f44336}
.h-sand{color:#000;background-color:#fdf5e6}
.h-teal{color:#fff;background-color:#009688}
.h-yellow{color:#000;background-color:#ffeb3b}
.h-white{color:#000;background-color:#fff}
.h-black{color:#fff;background-color:#000}
.h-grey{color:#000;background-color:#bbb}
.h-light-grey{color:#000;background-color:#f1f1f1}
.h-dark-grey{color:#fff;background-color:#616161}
.h-pale-red{color:#000;background-color:#ffdddd}
.h-pale-green{color:#000;background-color:#ddffdd}
.h-pale-yellow{color:#000;background-color:#ffffcc}
.h-pale-blue{color:#000;background-color:#ddffff}
.h-turquoise{color:#fff;background-color:#1abc9c}
.h-emerald{color:#fff;background-color:#2ecc71}
.h-peter-river{color:#fff;background-color:#3498db}
.h-amethyst{color:#fff;background-color:#9b59b6}
.h-wet-asphalt{color:#fff;background-color:#34495e}
.h-green-sea{color:#fff;background-color:#16a085}
.h-nephritis{color:#fff;background-color:#27ae60}
.h-belize-hole{color:#fff;background-color:#2980b9}
.h-wisteria{color:#fff;background-color:#8e44ad}
.h-midnight-blue{color:#fff;background-color:#2c3e50}
.h-sun-flower{color:#fff;background-color:#f1c40f}
.h-carrot{color:#fff;background-color:#e67e22}
.h-alizarin{color:#fff;background-color:#e74c3c}
.h-clouds{color:#000;background-color:#ecf0f1}
.h-concrete{color:#fff;background-color:#95a5a6}
.h-flat-orange{color:#fff;background-color:#f39c12}
.h-pumpkin{color:#fff;background-color:#d35400}
.h-pomegranate{color:#fff;background-color:#c0392b}
.h-silver{color:#000;background-color:#bdc3c7}
.h-asbestos{color:#fff;background-color:#7f8c8d}
.h-plum{color:#fff;background-color:#913d88}
.h-lavender{color:#fff;background-color:#967adc}
.h-grass{color:#fff;background-color:#a0d468}
.h-studio{color:#fff;background-color:8e44ad}

/* Text Colors */
.h-text-amber{color:#ffc107!important}
.h-text-aqua{color:#00ffff!important}
.h-text-blue{color:#2196F3!important}
.h-text-light-blue{color:#87CEEB!important}
.h-text-brown{color:#795548!important}
.h-text-cyan{color:#00bcd4!important}
.h-text-blue-grey{color:#607d8b!important}
.h-text-green{color:#4CAF50!important}
.h-text-light-green{color:#8bc34a!important}
.h-text-indigo{color:#3f51b5!important}
.h-text-khaki{color:#f0e68c!important}
.h-text-lime{color:#cddc39!important}
.h-text-orange{color:#ff9800!important}
.h-text-deep-orange{color:#ff5722!important}
.h-text-pink{color:#e91e63!important}
.h-text-purple{color:#9c27b0!important}
.h-text-deep-purple{color:#673ab7!important}
.h-text-red{color:#f44336!important}
.h-text-sand{color:#fdf5e6!important}
.h-text-teal{color:#009688!important}
.h-text-yellow{color:#ffeb3b!important}
.h-text-white{color:#fff!important}
.h-text-black{color:#000!important}
.h-text-grey{color:#bbb!important}
.h-text-light-grey{color:#f1f1f1!important}
.h-text-dark-grey{color:#616161!important}
.h-text-pale-red{color:#ffdddd!important}
.h-text-pale-green{color:#ddffdd!important}
.h-text-pale-yellow{color:#ffffcc!important}
.h-text-pale-blue{color:#ddffff!important}
.h-text-turquoise{color:#1abc9c!important}
.h-text-emerald{color:#2ecc71!important}
.h-text-peter-river{color:#3498db!important}
.h-text-amethyst{color:#9b59b6!important}
.h-text-wet-asphalt{color:#34495e!important}
.h-text-green-sea{color:#16a085!important}
.h-text-nephritis{color:#27ae60!important}
.h-text-belize-hole{color:#2980b9!important}
.h-text-wisteria{color:#8e44ad!important}
.h-text-midnight-blue{color:#2c3e50!important}
.h-text-sun-flower{color:#f1c40f!important}
.h-text-carrot{color:#e67e22!important}
.h-text-alizarin{color:#e74c3c!important}
.h-text-clouds{color:#ecf0f1!important}
.h-text-concrete{color:#95a5a6!important}
.h-text-flat-orange{color:#f39c12!important}
.h-text-pumpkin{color:#d35400!important}
.h-text-pomegranate{color:#c0392b!important}
.h-text-silver{color:#bdc3c7!important}
.h-text-asbestos{color:#7f8c8d!important}
.h-text-plum{color:#913d88!important}
.h-text-lavender{color:#967adc!important}
.h-text-grass{color:#a0d468!important}
.h-text-studio{color:8e44ad!important}